[run]
source = 
    patient
    sensor
    central_hub
omit = 
    */test/*
    */setup.py
    */build/*
    */install/*
branch = True

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
fail_under = 90
show_missing = True

[html]
directory = htmlcov

[xml]
output = coverage.xml